{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_moove/loginform

    Moodle template for the login page.

    Context variables required for this template:
    * autofocusform: Auto focus on form ?,
    * canloginasguest - Is guest login allowed?,
    * canloginbyemail - Is login by email allowed?,
    * cansignup - Signup allowed?,
    * cookieshelpicon - cookies help icon details
    * error - Any errors in the form?,
    * forgotpasswordurl - Forgot password url,
    * hasidentityproviders - Flag, set to true to hide identity providers,
    * hasinstructions - Flag, set to true to show instructions,
    * identityproviders - List of identiy providers,
    * instructions - Instructions,
    * instructionsformat - Format of instructions,
    * loginurl - Login url,
    * signupurl - Signup url,
    * errorformatted - Formatted error,
    * logourl - Flag, logo url,
    * sitename - Name of site.,
    * logintoken - Random token to protect login request.,
    * maintenance - Maintenance message

    Example context (json):
    {
        "autofocusform": false,
        "canloginasguest": "1",
        "canloginbyemail": false,
        "cansignup": true,
        "cookieshelpicon": {
            "heading": "Cookies must be enabled in your browser",
            "text": "<div class=\"no-overflow\">Two cookies are used on this site. Both died..</div>",
            "icon": {
                "attributes": [
                    {
                        "name": "class",
                        "value": "iconhelp"
                    },
                    {
                        "name": "alt",
                        "value": "Help with Cookies must be enabled in your browser"
                    },
                    {
                        "name": "title",
                        "value": "Help with Cookies must be enabled in your browser"
                    },
                    {
                        "name": "src",
                        "value": "http://localhost/stable_master/theme/image.php?theme=boost&component=core&image=help"
                    }
                ]
            },
            "linktext": null,
            "title": "Help with Cookies must be enabled in your browser",
            "url": "http://localhost/stable_master/help.php?component=core&identifier=cookiesenabled&lang=en",
            "ltr": true
        },
        "error": "",
        "forgotpasswordurl": "http://localhost/stable_master/login/forgot_password.php",
        "hasidentityproviders": false,
        "hasinstructions": true,
        "identityproviders": [],
        "instructions": "For full access to this site, you first need to create an account.",
        "instructionsformat": "1",
        "loginurl": "http://localhost/stable_master/login/index.php",
        "signupurl": "http://localhost/stable_master/login/signup.php",
        "cookieshelpiconformatted": "",
        "errorformatted": "",
        "logourl": false,
        "sitename": "Beer & Chips",
        "logintoken": "randomstring",
        "maintenance": "For full access to this site, you need to login in as an admin.",
        "languagemenu": "Choose language"
    }
}}
<style>
.input-wrapper {
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 10px;
    background: transparent;
    margin-bottom: 20px;
    overflow: hidden;
    height: 50px; 
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70px;
    height: 100%;
    position: relative;
    background: transparent;
}

.input-icon {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
}

.vertical-line {
    width: 2px;
    height: 60%;
    background-color: white;
    position: absolute;
    right: 0;
    top: 20%;
}

.input-field {
    flex: 1;
    background: transparent;
    border: none;
    padding: 20px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.input-field::placeholder {
    color: #fff;
    opacity: 1;
}

.input-field:focus {
    outline: none;
    box-shadow: none;
}

.submit-button {
    background-color: #fff;
    color: #7D5A88;
    font-weight: bold;
    border-radius: 10px;
    padding: 8px;
    font-size: 18px;
    border: none;
    width: 100%;
}

.submit-button:hover, .submit-button:active, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show>.btn-primary.dropdown-toggle{
    background-color: #7D5A88;
    color: #fff;
}


.login-forgotpassword p {
    color: #fff;
    font-size: 14px;
    margin-top: 10px;
}

.login-forgotpassword a {
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
}

.input-field {
    flex: 1;
    background: transparent;
    border: none;
    padding: 20px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.input-field::placeholder {
    color: #fff;
    opacity: 1;
}


.input-field:focus,
.input-field:hover {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    color: #fff;
    outline: none;
}
/* Limpiar el fondo del contenedor de inputs sensibles (como password) */
.toggle-sensitive-wrapper {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

/* También eliminar fondo en hover o focus */
.toggle-sensitive-wrapper:hover,
.toggle-sensitive-wrapper:focus-within {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
}


.input-field,
.input-field:focus,
.input-field:hover {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    color: #fff;
    outline: none;
}

.input-field:-webkit-autofill,
.input-field:-webkit-autofill:hover, 
.input-field:-webkit-autofill:focus, 
.input-field:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px transparent inset !important;
    box-shadow: 0 0 0 30px transparent inset !important;
    background-color: transparent !important;
    color: #fff !important;
    caret-color: white;
}


.form-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 0 15px;
}
</style>

<div class="row {{#hastwocolumns}}hastwocolumns{{/hastwocolumns}}">
    <div class="{{#hastwocolumns}}col-lg-6 col-md-12 left-column{{/hastwocolumns}}{{^hastwocolumns}}col{{/hastwocolumns}}">

        {{#maintenance}}
            <div class="alert alert-danger login-maintenance">
                {{{maintenance}}}
            </div>
        {{/maintenance}}
        {{#error}}
            <a href="#" id="loginerrormessage" class="sr-only">{{error}}</a>
            <div class="alert alert-danger" role="alert">{{error}}</div>
        {{/error}}
        {{#info}}
            <a href="#" id="logininfomessage" class="sr-only">{{info}}</a>
            <div class="alert alert-info" role="alert">{{info}}</div>
        {{/info}}
        {{#cansignup}}
            <a href="{{signupurl}}" class="sr-only">{{#str}} tocreatenewaccount {{/str}}</a>
        {{/cansignup}}
        <div class="form-container">
        <form class="login-form test" action="{{loginurl}}" method="post" id="login">
            <input type="hidden" name="logintoken" value="{{logintoken}}">

            <div class="form-group input-wrapper">
                <div class="icon-container">
                    <img src="{{{config.wwwroot}}}/theme/moove/pix/user.png" alt="User Icon" class="input-icon">
                    <div class="vertical-line"></div>
                </div>
                <input type="text" name="username" id="username"
                    class="form-control input-field"
                    value="{{username}}"
                    placeholder="{{^canloginbyemail}}{{#cleanstr}}username{{/cleanstr}}{{/canloginbyemail}}{{#canloginbyemail}}{{#cleanstr}}usernameemail{{/cleanstr}}{{/canloginbyemail}}"
                    autocomplete="username">
            </div>

            <div class="form-group input-wrapper">
                <div class="icon-container" style="width: 80px;">
                    <img src="{{{config.wwwroot}}}/theme/moove/pix/pass.png" alt="Password Icon" class="input-icon">
                    <div class="vertical-line"></div>
                </div>
                <input type="password" name="password" id="password"
                    class="form-control input-field"
                    placeholder="{{#cleanstr}}password{{/cleanstr}}"
                    autocomplete="current-password">
            </div>

            {{#recaptcha}}
                <div class="login-form-recaptcha form-group">
                    {{{recaptcha}}}
                </div>
            {{/recaptcha}}

            <div class="form-group text-center">
                <button class="btn btn-primary btn-block btn-lg submit-button" type="submit" id="loginbtn">
                    Ingresar
                </button>
            </div>

            {{#forgotpasswordurl}}
                <div class="login-forgotpassword text-center">
                    <p>¿Olvidaste tu contraseña? <a href="{{forgotpasswordurl}}">Restablécela aquí</a></p>
                </div>
            {{/forgotpasswordurl}}
        </form>
        </div>
    </div>
    {{#hastwocolumns}}
        <div class="col-lg-6 col-md-12 right-column">
            <div class="column-content">
                {{#hasidentityproviders}}
                    <div class="login-identityproviders">
                        <p class="login-heading text-center">{{#str}}signinwith, theme_moove{{/str}}</p>
                        {{#identityproviders}}
                            <a class="btn login-identityprovider-btn btn-block {{#isfacebook}}facebook{{/isfacebook}}" href="{{url}}">
                                {{#iconurl}}
                                    <img src="{{iconurl}}" alt="" width="24" height="24"/>
                                {{/iconurl}}
                                {{name}}
                            </a>
                        {{/identityproviders}}
                    </div>

                    <div class="login-divider"></div>
                {{/hasidentityproviders}}
                {{#hasinstructions}}
                    {{{instructions}}}
                {{/hasinstructions}}
                {{#canloginasguest}}
                    <form action="{{loginurl}}" method="post" id="guestlogin">
                        <input type="hidden" name="logintoken" value="{{logintoken}}">
                        <input type="hidden" name="username" value="guest" />
                        <input type="hidden" name="password" value="guest" />
                        <button class="btn btn-secondary btn-block" type="submit">{{#str}}loginguest{{/str}}</button>
                    </form>
                {{/canloginasguest}}

                <div class="d-flex mt-2">
                    {{#languagemenu}}
                        <div class="login-languagemenu">
                            {{>core/action_menu}}
                        </div>
                    {{/languagemenu}}
                    <button type="button" class="ml-auto btn btn-link" {{!
                    }} data-modal="alert"{{!
                    }} data-modal-title-str='["cookiesenabled", "core"]' {{!
                    }} data-modal-content-str='["cookiesenabled_help_html", "core"]'{{!
                    }}><i class="fa fa-question-circle"></i> {{#str}}cookiesnotice{{/str}}</button>
                </div>
            </div>
        </div>
    {{/hastwocolumns}}
</div>

{{#js}}
    {{^error}}
        {{#autofocusform}}
            require(['core_form/events'], function(FormEvent) {
                function autoFocus() {
                    const userNameField = document.getElementById('username');
                    if (userNameField.value.length == 0) {
                        userNameField.focus();
                    } else {
                        document.getElementById('password').focus();
                    }
                }
                autoFocus();
                window.addEventListener(FormEvent.eventTypes.fieldStructureChanged, autoFocus);
            });
        {{/autofocusform}}
    {{/error}}
    {{#error}}
        document.getElementById('loginerrormessage').focus();
    {{/error}}
    {{#togglepassword}}
        require(['core/togglesensitive'], function(ToggleSensitive) {
            ToggleSensitive.init("password", {{smallscreensonly}});
        });
    {{/togglepassword}}
        require(['core_form/submit'], function(Submit) {
            Submit.init("loginbtn");
            {{#canloginasguest}}
                Submit.init("loginguestbtn");
            {{/canloginasguest}}
        });
{{/js}}
